@font-face {
    font-family: Irvin-Heading;
    src: url('./src/fonts/Irvin-Heading.ttf') format('truetype'); /* TTF */
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: Irvin-Heading, 'Libre Caslon Text';
}